<% layout("layouts/boilerplate") %>
<div class="col-6 offset-3">
  <a href="/beaches/<%= beach._id %>" class="btn btn-outline-secondary"
    ><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a
  >
  <form action="/beaches/<%= beach._id %>?_method=PUT" method="POST">
    <h1 class="text-center">Edit Beach</h1>
    <form action="/beaches" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="beaches[name]"
          value="<%= beach.name %>"
        />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="beaches[address]"
          value="<%= beach.address %>"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="beaches[phone]"
          value="<%= beach.phone %>"
        />
      </div>
      <div class="mb-3">
        <label for="lat" class="form-label">Latitude</label>
        <input
          type="number"
          class="form-control"
          step="any"
          id="lat"
          name="beaches[lat]"
          value="<%= beach.lat %>"
        />
      </div>
      <div class="mb-3">
        <label for="lng" class="form-label">Longitude</label>
        <input
          type="number"
          class="form-control"
          step="any"
          id="lng"
          name="beaches[lng]"
          value="<%= beach.lng %>"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="beaches[description]"
          id="description"
          class="form-control"
          cols="30"
          rows="5"
        >
<%= beach.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          name="beaches[image]"
          accept="image/*"
        />
        <input
          type="hidden"
          name="beaches[temp_image]"
          value="<%= beach.image %>"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Beach</button>
      </div>
    </form>
  </form>
</div>
